apiVersion: v1
kind: Service
metadata:
  namespace: {{ "{{ .Values.namespace }}" }}
  name: {{ "{{ quote .Values.serviceName }}" }}
  labels:
    own: {{ "{{ quote .Values.own }}" }}  
    app: {{ "{{ quote .Values.app }}" }}
    io.kompose.service: {{ "{{ quote .Values.serviceName }}" }}
  annotations:
    cloud.google.com/neg: '{"exposed_ports":{"{{ "{{ .Values.port }}" }}":{}}}'
spec:
  ports:
    - name: "{{ "{{ .Values.port }}" }}-{{ "{{ .Values.port }}" }}"
      port: {{ "{{ .Values.port }}" }}
      targetPort: {{ "{{ .Values.port }}" }}
  selector:
    own: {{ "{{ quote .Values.own }}" }}
    app: {{ "{{ quote .Values.app }}" }}
    io.kompose.service: {{ "{{ quote .Values.serviceName }}" }}
